In [158]:
import numpy as np
import matplotlib as plt
import seaborn as sns
import pandas as pd
%matplotlib inline

In [159]:
data = pd.read_csv('tennis.csv')
data

    day   outlook  temp humidity   windy play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [160]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
day         14 non-null object
outlook     14 non-null object
temp        14 non-null object
humidity    14 non-null object
windy       14 non-null object
play        14 non-null object
dtypes: object(6)
memory usage: 752.0+ bytes

In [161]:
data.head()

  day   outlook  temp humidity   windy play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [162]:
outlook=data["outlook"].str.get_dummies(" ")
temp=data["temp"].str.get_dummies(" ")
humidity=pd.get_dummies(data["humidity"],drop_first=True)
windy=pd.get_dummies(data["windy"],drop_first=True)
play=pd.get_dummies(data["play"],drop_first=True)

In [163]:
windy

    Weak
0      1
1      0
2      1
3      1
4      1
5      0
6      0
7      1
8      1
9      1
10     0
11     0
12     1
13     0

In [164]:
data.head()

  day   outlook  temp humidity   windy play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [165]:
data.drop(['outlook','temp','humidity','play','windy'],axis=1,inplace=True)

In [166]:
data=pd.concat([outlook,temp,humidity,windy,play],axis=1)

In [167]:
data.head()
data

    Overcast  Rain  Sunny  Cool  Hot  Mild  Normal  Weak  Yes
0          0     0      1     0    1     0       0     1    0
1          0     0      1     0    1     0       0     0    0
2          1     0      0     0    1     0       0     1    1
3          0     1      0     0    0     1       0     1    1
4          0     1      0     1    0     0       1     1    1
5          0     1      0     1    0     0       1     0    0
6          1     0      0     1    0     0       1     0    1
7          0     0      1     0    0     1       0     1    0
8          0     0      1     1    0     0       1     1    1
9          0     1      0     0    0     1       1     1    1
10         0     0      1     0    0     1       1     0    1
11         1     0      0     0    0     1       0     0    1
12         1     0      0     0    1     0       1     1    1
13         0     1      0     0    0     1       0     0    0

In [168]:
from sklearn.model_selection import train_test_split

In [169]:
x=data.drop(['Yes'],axis=1)
y=data['Yes']
x

    Overcast  Rain  Sunny  Cool  Hot  Mild  Normal  Weak
0          0     0      1     0    1     0       0     1
1          0     0      1     0    1     0       0     0
2          1     0      0     0    1     0       0     1
3          0     1      0     0    0     1       0     1
4          0     1      0     1    0     0       1     1
5          0     1      0     1    0     0       1     0
6          1     0      0     1    0     0       1     0
7          0     0      1     0    0     1       0     1
8          0     0      1     1    0     0       1     1
9          0     1      0     0    0     1       1     1
10         0     0      1     0    0     1       1     0
11         1     0      0     0    0     1       0     0
12         1     0      0     0    1     0       1     1
13         0     1      0     0    0     1       0     0

In [170]:
x.head()

   Overcast  Rain  Sunny  Cool  Hot  Mild  Normal  Weak
0         0     0      1     0    1     0       0     1
1         0     0      1     0    1     0       0     0
2         1     0      0     0    1     0       0     1
3         0     1      0     0    0     1       0     1
4         0     1      0     1    0     0       1     1

In [171]:
y.head()

0    0
1    0
2    1
3    1
4    1
Name: Yes, dtype: uint8

In [172]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [173]:
from sklearn.tree import DecisionTreeClassifier

In [180]:
dtc1= DecisionTreeClassifier(criterion='entropy')

In [181]:
dtc1.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [182]:
preds=dtc1.predict(x_test)

In [184]:
from sklearn.metrics import classification_report,confusion_matrix
print(classification_report(y_test,preds))
print(confusion_matrix(y_test,preds))

             precision    recall  f1-score   support

          0       1.00      0.50      0.67         2
          1       0.75      1.00      0.86         3

avg / total       0.85      0.80      0.78         5

[[1 1]
 [0 3]]

In [178]:
print(data)

    Overcast  Rain  Sunny  Cool  Hot  Mild  Normal  Weak  Yes
0          0     0      1     0    1     0       0     1    0
1          0     0      1     0    1     0       0     0    0
2          1     0      0     0    1     0       0     1    1
3          0     1      0     0    0     1       0     1    1
4          0     1      0     1    0     0       1     1    1
5          0     1      0     1    0     0       1     0    0
6          1     0      0     1    0     0       1     0    1
7          0     0      1     0    0     1       0     1    0
8          0     0      1     1    0     0       1     1    1
9          0     1      0     0    0     1       1     1    1
10         0     0      1     0    0     1       1     0    1
11         1     0      0     0    0     1       0     0    1
12         1     0      0     0    1     0       1     1    1
13         0     1      0     0    0     1       0     0    0

In [179]:
import os
os.environ["PATH"]+=os.pathsep+'C:/Program Files(x86)/Graphviz2.38/bin/'

from graphviz import Source
from sklearn import tree
Source(tree.export_graphviz(dtc,out_file=None,feature_name=X.columns))

ModuleNotFoundError: No module named 'graphviz'